body {
  background-color: #bad4ff
}

.header > a > .logoImg {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 200px;
}

.header {
  text-align: center;
  width: 100%;
  background-color: #74a8fc;
  margin-bottom: 5px;
  border-bottom: 1px solid #5381cc;
  border-radius: 10px;
  padding-bottom: 1px;
}

.header > a > .btn {
  float: right;
  margin-right: 15px;
}

.header > .btn {
  float: right;
}

.sword {
  border-radius: 5px;
  border: 1px solid #5381cc;
  height: 100px;
}

.catalog > .nav {
  border-radius: 5px;
  border: 1px solid #5381cc;
}

.catalog > .nav > div {
  width: 100%;
}

.catalog > .nav > .range {
  text-align: center;
}

.catalog > .nav > div > .textinput {
  width: 75%;
}

.catalog > .content {
  height: 100%;
}

.splashImg {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height:100px;

  float: right;

}

.catalog > .content > .sword {
  width: 100%;
}

.catalog > .content > div {
  width: 100%;
}

.login {
  text-align: center;
}

.login > div {
  margin-top: 10px;
}

.swordView {

}

.swordView > .info {
  border-radius: 5px;
  border-bottom: 1px solid #5381cc;
}

.swordView > .history {
  border-radius: 5px;
  border-bottom: 1px solid #5381cc;
}

.swordView > .history > .row {
  width: 100%;
}

.swordView > .history > .row > .history-header {
 text-align: center;
}

.swordView > .info > .thumbnail > img {
  height: auto;
  width: auto;
  max-width: 350px;
  max-height:200px;
}

.facts > h2 {
  text-align: center;
}

.swordView > .facts {
  border-bottom: 1px solid #5381cc;
  margin-bottom: 5px;
}

.adminMetal > .metalList {
  border-radius: 5px;
  border-bottom: 1px solid #5381cc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.newSword {

}

.newSword > .info  > div {
  margin-bottom: 5px;
}

.newSword > .info  > h2 {

}

.newSword > .info {
  border-radius: 10px;
  border-bottom:  1px solid #5381cc;
}

.newSword > .history > textarea {
  width: 500px;
  height: 200px;
}

.newSword > .history {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border-bottom: 1px solid #5381cc;
  padding-bottom: 10px;
}

.newSword > .facts > div > div > textarea {
  width: 500px;
  height: 100px;
  margin-bottom: 5px;
}

.newSword > .facts > .add {
  margin-bottom: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #5381cc;
  padding-bottom: 5px;
}

.newSword > .facts > .existing {

}

.newSword > .facts {
  margin-bottom: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #5381cc;
  padding-bottom: 5px;
}
