<div class="row catalog">
  <div class="col-md-2 nav">
    <div class="range">
      <input type="text" name="name" ng-model="selectedName" class="textinput" placeholder="name">
    </div>
    <div class="">
      <input type="range" name="minL" ng-model="selectedMinLength" min={{shortest}} max={{longest}} step=1>
      <input type="range" name="maxL" ng-model="selectedMaxLength" min={{shortest}} max={{longest}} step=1>
    </div>
    <div class="range">
      {{selectedMinLength}} - {{selectedMaxLength}} CM
    </div>
    <div class="">
      <input type="range" name="minW" ng-model="selectedMinWeight" min={{lightest}} max={{heaviest}} step=0.1>
      <input type="range" name="maxW" ng-model="selectedMaxWeight" min={{lightest}} max={{heaviest}} step=0.1>
    </div>
    <div class="range">
      {{selectedMinWeight}} - {{selectedMaxWeight}} KG
    </div>
    <div class="" ng-repeat="metal in metals">
      <input type="checkbox" name="name" value="">  {{metal.name}}
    </div>
    <div class="range">
      <a href="/{{selectedName}}/{{selectedMinLength}}/{{selectedMaxLength}}/{{selectedMinWeight}}/{{selectedMaxWeight}}"><button type="button" name="button" class="btn btn-dark" >search</button></a>
    </div>
  </div>
  <div class="col-md-10 content">
    <div class="sword" ng-repeat="sword in swords track by $index">
      <a href="/sword/{{sword._id}}">
        <div class="row">
          <div class="col-md-8">
            <div class="">
              Name: {{sword.name}}
            </div>
            <div class="">
              Length: {{sword.length}}
            </div>
            <div class="">
              Weight: {{sword.weight}}
            </div>
            <div class="">
              {{sword.history}}
            </div>
          </div>


        <div class="col-md-4">
          <div class="">
            <img class="img-thumbnail splashImg" src="{{sword.altImg}}" alt="" />
          </div>
        </div>

      </div>
        </a>
    </div>
  </div>
</div>
