<div class="swordView">
  <div class="row info">
    <div class="col-md-8 info">
      <div class="name">
        Name: {{sword.name}}
      </div>
      <div class="length">
        Length: {{sword.length}}
      </div>
      <div class="weight">
        Weight: {{sword.weight}}
      </div>
      <div class="metals">
        Metals:
        <ul>
          <li ng-repeat="m in sword.metals"> {{m}} </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 thumbnail">
      <img src="{{sword.altImg}}" alt="" class="img img-thumbnail"/>
    </div>
  </div>

  <div class="row history">
    <div class="row">
      <div class="col-md-12 history-header">
        <h2>History</h2>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 history-content">
        {{sword.history}}
    </div>
  </div>

  </div>
  <div class="facts">
    <h2>Facts</h2>
    <ul>
      <li ng-repeat="f in sword.facts">{{f}}</li>
    </ul>
  </div>
  <div class="adminOptions">
    <button type="button" name="button" class="btn btn-danger" ng-click="remove(sword._id, sword.name)" ng-show="USER.loggedIn">remove</button>
    <a href="/adminPanel/{{sword._id}}"> <button type="button" name="button" class="btn btn-warning" ng-show="USER.loggedIn">edit</button></a>
  </div>
</div>
